body {
	padding: 0px;
	margin: 0px;
	font-family: Ubuntu;
	background: #131313;
}

.container {
width: 1170px;
margin: 0px auto;	

}

.frist {
	height: 100vh;
	background: url(img/bg.jpg) fixed;
}
.frist-logo {
	display: block;
	margin: 0px auto;
	padding-top: 300px;
}
h1 {
	width: 600px;
	font-weight: bold;
	text-align: center;
	margin: 0px auto;
	color: white;
	font-size: 38px;
}
.frist-arrow {
	margin: 0px auto;
	display: block;
	padding-top: 150px;
}

.button {
	text-align: center;
	color: white;
	text-decoration: none;
	border: 1px white solid;
	border-radius: 15px;
	padding: 20px 70px;
	

}
.border {
	text-align: center;
	margin-top: 58px;
}
.button:hover {
	color: black;
	background: white;
	transition-property: background;
  	transition-duration: 0.5s;
  	transition-timing-function: linear;
}

h2 {
	margin-top: 90px;
	font-size:35px;
	font-weight: bold;
	color: white;
	text-align: center;	

}

.services {

	width: 100%;
	height: 600px;
	margin: 0px auto;
	text-align: center;
}


.services-skill {
	margin: 0px auto;
	float: left; 
	padding: 50px 35px;
	text-align: center;
}

h3 {
	color: white;
	font-size: 25px;
}
.services-text {
	width: 220px;
	font-size: 15px;
	color: white;
	text-align: center;
	font-weight: lighter;
}
footer {
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	padding: 10px 0px;
	font-size: 12px;
	font-weight: lighter;


}